

  
  .headerr {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }
 
  body{
    background-color:lightblue;
    font-size: 25px;
  }

  .app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
  }

  .app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    text-align: center;
  }


  .quiz{
    padding:  20px 0;
  }
.quiz h2 {
    font-size:  18px;
    color: red;
    font-weight: 600;
}


 .btn{                    /* for the answer buttons */
    background:#fff;   
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin:  10px 0;
    text-align: left;
    border-radius: 4px;
    cursor:pointer;
    transition: all 0.3s;
}

.btn:hover {
  background: #222;
  color: white;
  
}

#next-btn{
  background-color: #001e4d;
  color: white;
  font-weight:500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor:pointer;
  display: block;
  display: none;

;
}
 /*  */
  #countdown {
    text-align: center;
    color: red;
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 25px;

  }
  
  .highscores{
    color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 25px;
  }

 